.mainContainer{
  min-height: 70vh ;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mainContainer h1{
 text-align: center;
 margin-bottom: 100px; 
 margin-top: 100px;
}

.mainContainer span{
  color: red;
}

.mainContainer div{
  
  text-align: center;
  margin-bottom: 30px;
}

.mainContainer a{
  text-decoration: none;
  color: white;
  padding: .6rem 2rem;
  background: red;
  border-radius: 4%;
  margin-bottom: 30px;
}


.mainContainer .jogadas{
  color: #ffb801;
}

.mainContainer .tituloJogadas{

  float:initial;
  position: fixed;
  padding: .6rem 2rem;
  margin-left: 10px;
  background-color: white;
  color: black;
  border-radius: 4%;
  font-size: 1.5rem;
  border: 2px solid black;
  
}
